---
import 'katex/dist/katex.min.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{title} | 일반물리 I</title>
    <style is:global>
      @import '../styles/global.css';

      html, body {
        height: 100%;
        overflow: hidden;
      }
    </style>
  </head>
  <body class="m-0 p-0 overflow-hidden bg-white text-gray-900">
    <slot />
  </body>
</html>
